* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    border: 2px solid red;
    flex-direction: column;
    align-items: center;
    display: flex;
}

header{
    width: 201vh;
    height: 200vh;
    border: 2px solid blue;
    height: 10vh;
    
}

a{
    border: 2px solid green;
    flex-direction: row;
}

.p {
    border: 2px solid green;
    
}

.k{
    border: 2px solid green;
}

.s{
    border: 2px solid green;
}