
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    border: 2px solid red;
    flex-direction: column;
    align-items: center;
    display: flex;
   }

   h1{
    width: 400px;
    height:200px;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    margin-top: 200px;

   }

   a {
        border:2px solid green ;
        padding-inline: 50px;
   }

   p {
    border:2px solid green ;
    padding-inline: 50px;
   }

   .t {
     padding-inline: 30px;
 }



